doctype html
html
  head
    title #{ title }

    //- Meta

    //- Stylesheets
    link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,700,700italic')
    link(rel="stylesheet", type='text/css', href='styles/main.css?#{ version }')

  body
    block content
