extends ./partials/layout.jade

block content
  .container
    h1 Brodie's Boilerplate
    p.pull-left Boilerplate static is built and served thanks to Browsersync, now it's your turn.

  //- Scripts
  script(type="text/javascript", src="scripts/main.js?#{ version }")
