extends ./layout.jade

block content
  .container
    h1 Hello Hello Hi
    p How's Brodie today?

    p
      a(href="/ryan/brodie") Pushstate example

  //- Scripts
  script(type="text/javascript", src="/scripts/main.js?#{ version }")